 
<div class="wrapper" style="padding-top: 10vh;">
  <div class="profile-content section">
    <div class="container">
      <div class="row">
        <div class="profile-picture">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new img-no-padding">
              <img src="../assets/img/faces/joe-gardner-2.jpg" alt="..." />
            </div>
            <div class="name">
              <h4 class="title text-center">
                Emily Herold
                <br />
                <small>Vice President and CFO</small>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="tab"
                href="#follows"
                role="tab"
                >Scheduling</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#following" role="tab"
                >Inventory</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#following" role="tab"
                >Orders</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="follows" role="tabpanel">
          <div class="row">
            <div class="container tim-container ">
              <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>Model#</th>
                          <th>Serial#</th>
                          <th>Brand</th>
                          <th class="text-right">Description</th>
                          <th class="text-right">Lict Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">1</td>
                          <td>JVM136C</td>
                          <td>10225688</td>
                          <td>GE</td>
                          <td>Over the Range Microwave</td>
                          <td class="text-right">499</td>
                        </tr>
                        <tr>
                          <td class="text-center">2</td>
                          <td>GSD2600</td>
                          <td>10899455</td>
                          <td>GE</td>
                          <td>Dishwasher</td>
                          <td class="text-right">375</td>
                        </tr>
                        <tr>
                          <td class="text-center">3</td>
                          <td>SHY99A0x</td>
                          <td>58344566</td>
                          <td>Bosch</td>
                          <td>Dishwasher</td>
                          <td class="text-right">899</td>
                        </tr>
                        <tr>
                          <td class="text-center">4</td>
                          <td>WFL 2060</td>
                          <td>98752454</td>
                          <td>Bosch</td>
                          <td>Laundry Washer</td>
                          <td class="text-right">579</td>
                        </tr>
                        <tr>
                          <td class="text-center">3</td>
                          <td>SHY99A0x</td>
                          <td>58344566</td>
                          <td>Bosch</td>
                          <td>Dishwasher</td>
                          <td class="text-right">899</td>
                        </tr>
                        <tr>
                          <td class="text-center">5</td>
                          <td>SZ632</td>
                          <td>14825844</td>
                          <td>Sub Zero</td>
                          <td>Built-in Refrigerator – 48”</td>
                          <td class="text-right">3850</td>
                        </tr>
                        <tr>
                          <td class="text-center">6</td>
                          <td>SZ424/S</td>
                          <td>25544886</td>
                          <td>Sub Zero</td>
                          <td>Built-in Wine Cooler – under counter</td>
                          <td class="text-right">599</td>
                        </tr>
                        <tr>
                          <td class="text-center">7</td>
                          <td>VGIC-24</td>
                          <td>95778966</td>
                          <td>Viking</td>
                          <td>24” Professional Gas Range SS</td>
                          <td class="text-right">3995</td>
                        </tr>
                        <tr>
                          <td class="text-center">8</td>
                          <td>CVA615</td>
                          <td>10897781</td>
                          <td>Miele</td>
                          <td>Built-in Coffee System</td>
                          <td class="text-right">2799</td>
                        </tr>
                        <tr>
                          <td class="text-center">9</td>
                          <td>H398BP2</td>
                          <td>10755389</td>
                          <td>Miele</td>
                          <td>Double Wall Oven</td>
                          <td class="text-right">3750</td>
                        </tr>
                        <tr>
                          <td class="text-center">10</td>
                          <td>JGD8348B</td>
                          <td>34981101</td>
                          <td>Jenn-Air</td>
                          <td>48” Prostyle Downdraft Cooktop</td>
                          <td class="text-right">2059</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane text-center" id="following" role="tabpanel">
        <button class="btn btn-warning btn-round">Add</button>
      </div>
    </div>
  </div>
</div>
