<div
  class="team-2 section-image"
  style="background-color: grey; color: white; padding-top: 10vh;"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">
          Home Design Solutions (HDS)<br />
          Frequently Asked Questions (FAQ)
        </h2>
      </div>
    </div>
    <div class="faq">
      <h4>Frequently Asked Questions</h4>
      <br />
      <div id="acordeon">
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card no-transition">
            <div class="card-header card-collapse" role="tab" id="headingOne">
              <h5 class="mb-0 panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseOne"
                >
                  How much will my cabinets cost?
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div
              id="collapseOne"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingOne"
            >
              <div class="card-body">
                Cabinets vary dramatically in price just like cars or houses.
                Entry-level cabinets are less expensive than cabinets with
                special finishes and upgraded storage features. HDS provides
                cabinetry that fits most any budget—from basic to bold.
              </div>
            </div>
            <div class="card-header card-collapse" role="tab" id="headingTwo">
              <h5 class="mb-0 panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  How long will it take to get the cabinets I order?
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingTwo"
            >
              <div class="card-body">
                Order time varies depending on the manufacturer and the
                complexity of the job. The minimum time is roughly three weeks
                and can be as much as eight weeks during peak times of the year.
              </div>
            </div>
            <div class="card-header card-collapse" role="tab" id="headingThree">
              <h5 class="mb-0 panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Can you design my kitchen from a sketch of the room that I
                  provide?
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingThree"
            >
              <div class="card-body">
                We can certainly start with a sketch you provide. Your
                forethought in doing some homework can shorten the time needed
                to design the final layout. However, we will always do our own
                measurements to verify that the design will actually work.
              </div>
            </div>
            <div class="card-header card-collapse" role="tab" id="headingFour">
              <h5 class="mb-0 panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  What is the best type of countertop for the kitchen?
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div
              id="collapseFour"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingFour"
            >
              <div class="card-body">
                There are many possible countertop choices. As with cabinets,
                your budget needs to be matched with your desire for flexibility
                of design and product longevity. Laminate, solid surface,
                quartz-enhanced and granite are all good choices.
              </div>
            </div>
            <div class="card-header card-collapse" role="tab" id="headingFive">
              <h5 class="mb-0 panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  Can you match my existing cabinets or furniture?
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div
              id="collapseFive"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingFive"
            >
              <div class="card-body">
                All woods and stains change color over time—some more so than
                others. In many cases, HDS can find cabinetry that may be
                compatible with your existing cabinets or furniture. In no case
                can we guarantee an exact match.
              </div>
            </div>
            <div class="card-header card-collapse" role="tab" id="headingSix">
              <h5 class="mb-0 panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseSix"
                >
                  What construction features should I look for when choosing
                  cabinets?
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div
              id="collapseSix"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingSix"
            >
              <div class="card-body">
                Certain construction features are a sign of quality cabinets. A
                savvy consumer will look for things such as finished backs in
                all cabinets, drawer guides that also support the drawer bottom,
                conversion varnish (not lacquer) finishes, multi-way adjustable
                hinges, adjustable shelves, and a wide range of heights and
                depths. Newer convenience features include “soft-close” hinges
                and drawers, multi-function drawer systems, and optional task
                lighting. Be sure to check for the KCMA (Kitchen Cabinet
                Manufacturers Association) label, a certification that the
                cabinets meet construction standards designed to ensure many
                years of trouble-free service.
              </div>
            </div>
            <div class="card-header card-collapse" role="tab" id="headingSeven">
              <h5 class="mb-0 panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseSeven"
                  aria-expanded="false"
                  aria-controls="collapseSeven"
                >
                  What are the most popular types of cabinets?
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div
              id="collapseSeven"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingSeven"
            >
              <div class="card-body">
                While popular cabinet styles and trends vary from year to year,
                traditional raised-panel oak styling is always a favorite due to
                affordability and durability. A current trend is a “stand-alone”
                furniture look that allows for highly customized design features
                using cabinetry from major manufacturers. Besides oak, certain
                wood species tend to be favored by today's consumers. Maple is
                frequently used in remodeling because of its clean look and its
                ability to blend in with most existing finishes. Cherry has
                become increasingly popular as manufacturers have developed a
                variety of finishes allowing it to work in more applications.
              </div>
            </div>
            <div class="card-header card-collapse" role="tab" id="headingEight">
              <h5 class="mb-0 panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseEight"
                  aria-expanded="false"
                  aria-controls="collapseEight"
                >
                  Are environmentally “green” cabinets available at a reasonable
                  price?
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div
              id="collapseEight"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingEight"
            >
              <div class="card-body">
                HDS represents several manufacturers across the price spectrum
                whose cabinets are certified under the Environmental Stewardship
                Program developed by the KCMA (Kitchen Cabinet Manufacturers
                Association).
              </div>
            </div>
            <div class="card-header card-collapse" role="tab" id="headingNine">
              <h5 class="mb-0 panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseNine"
                  aria-expanded="false"
                  aria-controls="collapseNine"
                >
                  What's the difference between manufactured cabinets and
                  custom-made cabinets?
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div
              id="collapseNine"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingNine"
            >
              <div class="card-body">
                Years ago there was a significant difference in the sizes and
                finishes available from "custom" cabinetmakers and the "stock"
                manufacturers. Today, many cabinet manufacturers offer custom
                sizing and finishes that rival, and may even exceed, the
                possibilities of a local custom cabinet shop.
              </div>
            </div>
            <div class="card-header card-collapse" role="tab" id="headingTen">
              <h5 class="mb-0 panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseTen"
                  aria-expanded="false"
                  aria-controls="collapseTen"
                >
                  Do you charge a design fee, measure fee or other fees in
                  addition to the contract price for cabinets and installation?
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div
              id="collapseTen"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingTen"
            >
              <div class="card-body">
                HDS does not charge a measure fee or a design fee for a first
                design or estimate. In some cases, where multiple design
                revisions are requested, a design retainer may be requested.
                That retainer is then credited in full to the final cost of the
                job.
              </div>
            </div>
            <div
              class="card-header card-collapse"
              role="tab"
              id="headingEleven"
            >
              <h5 class="mb-0 panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseEleven"
                  aria-expanded="false"
                  aria-controls="collapseEleven"
                >
                  Do you do major remodeling?
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div
              id="collapseEleven"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingEleven"
            >
              <div class="card-body">
                HDS specializes in "light" kitchen, office, or laundry room
                remodeling. We have strong working relationships with several
                quality, full-line remodeling firms for those jobs that require
                major structural renovation.
              </div>
            </div>
            <div
              class="card-header card-collapse"
              role="tab"
              id="headingTwelve"
            >
              <h5 class="mb-0 panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseTwelve"
                  aria-expanded="false"
                  aria-controls="collapseTwelve"
                >
                  Do you provide cabinets for remodeling only, or also for new
                  construction?
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </div>
            <div
              id="collapseTwelve"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingTwelve"
            >
              <div class="card-body">
                HDS works with a number of reputable remodelers and can provide
                cabinets through your contractor or directly to you for your
                kitchen or bath remodeling project or room addition. We also
                work with many custom home builders, who consult with our
                designers to assure that the layouts for kitchen cabinets, bath
                cabinets, laundry room cabinets and other cabinetry are chosen
                to properly fit the budget and space. We will coordinate
                directly with your builder and also consult directly with you
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-gray">
  <div class="container tim-container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">SUPPORT</h2>
        </div>
        <h3 class="text-center">Submit a support ticket</h3>
        <div class="media media-post">
          <form class="form">
            <a class="pull-left author" href="#paper-kit"> </a>
            <div class="media-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control border-input"
                      placeholder="Your Name"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control border-input"
                      placeholder="Your email"
                    />
                  </div>
                </div>
              </div>
              <textarea
                class="form-control border-input"
                placeholder="Whats the issue..."
                rows="6"
              ></textarea>
              <div class="media-footer">
                <a href="#paper-kit" class="btn btn-info pull-right">Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
