<footer class="footer footer-big footer-black">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 ml-auto mr-auto col-sm-9 col-12">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-6">
            <div class="links">
              <ul class="uppercase-links stacked-links">
                <li>
                  <a href="/Home.html">
                    Home
                  </a>
                </li>
                <li>
                  <a routerLink="/about" routerLinkActive="active">
                    About
                  </a>
                </li>
                <li>
                  <a routerLink="/store" routerLinkActive="active">
                    Store
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-6">
            <div class="links">
              <ul class="uppercase-links stacked-links">
                <li>
                  <a routerLink="/services" routerLinkActive="active">
                    Services
                  </a>
                </li>
                <li>
                  <a routerLink="/contact" routerLinkActive="active">
                    Contact Us
                  </a>
                </li>
                <li>
                  <a routerLink="/portal" routerLinkActive="active">
                    Employee Portal
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-6">
            <div class="links">
              <ul class="uppercase-links stacked-links">
                <li>
                  <a href="/services.html">
                    Portfolio
                  </a>
                </li>
                <li>
                  <a routerLink="/faq" routerLinkActive="active">
                    FAQ
                  </a>
                </li>
                <li>
                  <a routerLink="/services" routerLinkActive="active">
                    Testimonials
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="social-area">
              <a class="btn btn-just-icon btn-round btn-facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a class="btn btn-just-icon btn-round btn-twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a class="btn btn-just-icon btn-round btn-google">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
              </a>
              <a class="btn btn-just-icon btn-round btn-pinterest">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <hr />
        <div class="copyright">
          <div class="pull-left">
            ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            Web design by Brian Martin
          </div>
          <div class="links pull-right">
            <ul>
              <li>
                <a href=" ">
                  Company Policy
                </a>
              </li>
              |
              <li>
                <a href=" ">
                  Terms
                </a>
              </li>
              |
              <li>
                <a href=" ">
                  Privacy
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
