<div
  class="team-2 section-image"
  style="background-color: grey; color: white; padding-top: 10vh;"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">ABOUT OUR TEAM</h2>
      </div>
    </div>
    <h2 class="title-uppercase">
      We <i class="fa fa-heart heart"></i>&nbsp; what we do.
    </h2>
    <br /><br />
    <h5>
      Home Design Solutions (HDS) was conceptualized in May 2007 by married
      general contractors Emily and Joe Herold. Their specialties are kitchen
      and bathroom designs or remodels. The demand for their services over the
      past 12 years has resulted in Home Design Solution’s rapid expansion to 3
      stores in Arizona plus the parent company to 2 subsidiaries in Nevada and
      New Mexico.
    </h5>
  </div>
</div>
