<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top nav-down navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/Home.html" rel="tooltip" title="Home Design Solutions" data-placement="bottom"
          target="_blank">
          Home Design Solutions
        </a>
  
      </div>
      <div class="collapse navbar-collapse" data-nav-image="./assets/img/blurred-image-1.jpg" data-color="orange">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link" href="/About.html">
              About
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="/store.html">
              Store
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="/services.html">
              Services
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="/contact.html">
              Contact Us
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="/employee-login.html">
              Employee Portal
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="#paper-kit" class="nav-link" data-toggle="dropdown" width="30" height="30">
              <div class="profile-photo-small">
  
                <img src="./assets/img/placeholder.jpg" alt="Circle Image"
                  class="img-circle img-responsive img-no-padding">
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-info">
              <a class="dropdown-item" href="/employee-portal.html">Me</a>
              <a class="dropdown-item" href="/employee-portal.html">Settings</a>
              <li class="divider"></li>
              <a class="dropdown-item" href="/customer-login.html">Sign in</a>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>