<div class="team-2 section-image" style="background-color: grey;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Founders</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="">
              <img class="img" src="./assets/img/faces/clem-onojeghuo-1.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Joe Herold</h4>
            <h6 class="card-category">President and CEO</h6>
            <div class="card-footer"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="#pablo">
              <img class="img" src="./assets/img/faces/kaci-baum-1.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Emily Herold</h4>
            <h6 class="card-category">Vice President and CFO</h6>
            <div class="card-footer"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="">
              <img class="img" src="./assets/img/faces/joe-gardner-1.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Karla Yount</h4>
            <h6 class="card-category">Sales & Design Manager</h6>
            <div class="card-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="team-5 section-image" style="background-color: cadetblue;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Management</h2>
        <h5 class="description">Meet our amazing group of managers.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-profile card-plain">
          <div class="row">
            <div class="col-md-5">
              <div class="card-img-top">
                <a href="">
                  <img class="img" src="./assets/img/chet_faker_2.jpg" />
                </a>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-body text-left">
                <h4 class="card-title">Greg Rollins</h4>
                <h6 class="card-category">Store Manager</h6>
                <p class="card-description">
                  Scottsdale Location
                </p>
                <div class="card-footer">
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-twitter"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-facebook"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-google-plus"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-profile card-plain">
          <div class="row">
            <div class="col-md-5">
              <div class="card-img-top">
                <a href="">
                  <img class="img" src="./assets/img/banks.jpg" />
                </a>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-body text-left">
                <h4 class="card-title">Tina Ericson</h4>
                <h6 class="card-category">Founder</h6>
                <p class="card-description">
                  Scottsdale Location
                </p>
                <div class="card-footer">
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-dribbble"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-pinterest"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-profile card-plain">
          <div class="row">
            <div class="col-md-5">
              <div class="card-img-top">
                <a href="">
                  <img
                    class="img"
                    src="./assets/img/faces/erik-lucatero-2.jpg"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-body text-left">
                <h4 class="card-title">Julie Young</h4>
                <h6 class="card-category">Store Manager</h6>
                <p class="card-description">
                  Tuscon Location
                </p>
                <div class="card-footer">
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-youtube"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-twitter"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-profile card-plain">
          <div class="row">
            <div class="col-md-5">
              <div class="card-img-top">
                <a href="">
                  <img class="img" src="./assets/img/banks.jpg" />
                </a>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-body text-left">
                <h4 class="card-title">Marie Aguilar</h4>
                <h6 class="card-category">Office Manager</h6>
                <p class="card-description">
                  Tuscon Location
                </p>
                <div class="card-footer">
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-instagram"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-dribbble"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-profile card-plain">
          <div class="row">
            <div class="col-md-5">
              <div class="card-img-top">
                <a href="">
                  <img class="img" src="./assets/img/flume.jpg" />
                </a>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-body text-left">
                <h4 class="card-title">Tom Black</h4>
                <h6 class="card-category">Store Manager</h6>
                <p class="card-description">
                  Las Vegas Location
                </p>
                <div class="card-footer">
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-instagram"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-dribbble"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-profile card-plain">
          <div class="row">
            <div class="col-md-5">
              <div class="card-img-top">
                <a href="">
                  <img class="img" src="./assets/img/rihanna.jpg" />
                </a>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-body text-left">
                <h4 class="card-title">Joan Simmons</h4>
                <h6 class="card-category">Office Manager</h6>
                <p class="card-description">
                  Las Vegas Location
                </p>
                <div class="card-footer">
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-instagram"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-dribbble"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-profile card-plain">
          <div class="row">
            <div class="col-md-5">
              <div class="card-img-top">
                <a href="">
                  <img
                    class="img"
                    src="./assets/img/faces/clem-onojeghuo-3.jpg"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-body text-left">
                <h4 class="card-title">Joan Holman</h4>
                <h6 class="card-category">Store Manager</h6>
                <p class="card-description">
                  Albuquerque Location
                </p>
                <div class="card-footer">
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-instagram"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-dribbble"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-profile card-plain">
          <div class="row">
            <div class="col-md-5">
              <div class="card-img-top">
                <a href="">
                  <img class="img" src="./assets/img/khaled.jpg" />
                </a>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-body text-left">
                <h4 class="card-title">Carl Strand</h4>
                <h6 class="card-category">Office Manager</h6>
                <p class="card-description">
                  Albuquerque Location
                </p>
                <div class="card-footer">
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-instagram"></i
                  ></a>
                  <a href="" class="btn btn-just-icon btn-link btn-neutral"
                    ><i class="fa fa-dribbble"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
