<div class="wrapper">
    <div class="page-header" style="background-color: #1A9988;">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
            <div class="card card-register">
              <h2 class="card-title">Customer Login</h2>
              <form class="register-form">
                <label>Email</label>
                <input
                  type="email"
                  class="form-control no-border"
                  placeholder="Email"
                />
                <label>Password</label>
                <input
                  type="password"
                  class="form-control no-border"
                  placeholder="Password"
                />
                <button class="btn btn-danger btn-block btn-round">Login</button>
              </form>
              <div class="forgot">
                <a
                  href="#paper-kit"
                  class="btn btn-link btn-danger"
                  href="/employee-portal.html"
                  >Forgot password?</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="demo-footer text-center">
          <h6>
            &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            Website design by Brian Martin
          </h6>
        </div>
      </div>
    </div>
  </div>
  