<div class="wrapper">
  <div class="section latest-offers">
    <div class="container">
      <h3 class="section-title">Latest Offers</h3>
      <br />
      <div class="row">
        <div class="col-md-4">
          <div class="card card-product card-plain">
            <div class="card-image">
              <a href="">
                <img
                  src="/src/assets/img/ecommerce/balmain_1.jpg"
                  alt="Rounded Image"
                  class="img-rounded img-responsive"
                />
              </a>
              <div class="card-body">
                <div class="card-description">
                  <h5 class="card-title">
                    27 cu ft. French Door Refrigerator SS
                  </h5>
                  <p class="card-description">
                    Factory-installed icemaker - Refrigerator comes ready to
                    automatically create ice. LED lighting - Find exactly what
                    youve been looking for under crisp, clear lighting.
                    Spill-proof shelves - Raised edges help contain spills and
                    make clean up quick and easy
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
